<section id="home-blog">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 ">


  <div id="carousel-blog" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% @home_blog.each_with_index do |b, index| %>
      <li data-target="#carousel-blog" data-slide-to="<%= index %>" class="<% if index == 0 %>active<% end %>"></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  
  <div class="carousel-inner" role="listbox">
    <% @home_blog.each_with_index do |b, index| %>
      <div class="item <% if index == 0 %>active<% end %> text-center">   
        <% if b.images.present? %>
          <div class="row">
            <div class="col-sm-5">
              <% b.images.each do |x| %>
                <%= image_tag x.url, class: 'img-responsive' %>
              <% end %>
            </div>
            <div class="col-sm-7">
              <a href="<%= blog_post_path(b) %>"><h1 class="text-center"><%= b.title %></h1></a>
              <%= b.custom_teaser.html_safe %> 
              <%= link_to 'Read more', blog_post_path(b), class: 'btn btn-primary btn-lg' %>
            </div>
          </div>
        <% else %>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <a href="<%= blog_post_path(b) %>"><h1 class="text-left"><%= b.title %></h1></a>
              <%= b.custom_teaser.html_safe %> 
              <%= link_to 'Read more', blog_post_path(b), class: 'btn btn-primary btn-lg' %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-blog" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-blog" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

    </div>
  </div>
</section>