<section id="home-the-team">
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>The Team</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 text-center team">
        <h2><button data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="<%= @alex.description.html_safe %>"><%= @alex.name %></button></h2>
        <small><%= @alex.title %></small>
      </div>
      <div class="col-md-4 col-sm-6 col-md-offset-4 text-center team">
        <h2><button data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="<%= @bjorn.description %>"><%= @bjorn.name %></button></h2>
        <small><%= @bjorn.title %></small>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-4 text-center team">
        <h2><button data-container="body" class="popover-with-html" data-toggle="popover" data-html="true" data-placement="bottom" data-content="<%= @deniz.description.html_safe %>"><%= @deniz.name %></button></h2>
        <small><%= @deniz.title %></small>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 text-center team">
        <h2><button data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="<%= @jesper.description.html_safe %>"><%= @jesper.name %></button></h2>
        <small><%= @jesper.title %></small>
      </div>
      <div class="col-md-4 col-sm-6 col-md-offset-4 text-center team">
        <h2><button data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="<%= @derek.description.html_safe %>"><%= @derek.name %></button></h2>
        <small><%= @derek.title %></small>
      </div>
    </div>
  </div>
</section>