<%#= render '/refinery/content_page' %>

<section id="home-main" class="text-center">
  <h1>SWIMMER STRENGTH</h1>
  <h3>Operated by world-renowned swimmers, for swimmers</h3>
  <%= link_to 'Learn more...', '#home-about', class: 'btn btn-primary btn-lg' %>
</section>

<section id="home-about">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-2">
        <h1>About</h1>
      </div>
      <div class="col-md-5">

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


      </div>
    </div>

  </div>
  
</section>

<section id="home-what-we-do">
  
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-7 col-md-4 col-md-offset-8">
        <h1>What We Do</h1>
        <ul>
          <li>RESEARCH-FOCUSED</li>
          <li>INNOVATIVE SWIMMING-APPROPRIATE EXERCISES</li>
          <li>INDIVIDUAL ONLINE COACHING</li>
          <li>ONLINE CONFERENCES</li>
        </ul>
        

        

        

        

      </div>
    </div>
  </div>
</section>

<!-- <section id="home-our-athletes">
  <h1 class="text-center">Our Athletes</h1>
  <div class="container">
    <div class="row">
      <%# @home_athletes.each do |ha| %>
        <div class="col-md-4 text-center">
          <%#= image_tag 'http://placehold.it/450x450', class: 'img-responsive' %>
          <h2><%#= link_to ha.name,  '/athletes' %></h2>
        </div>
      <%# end %>
    </div>
  </div>
</section> -->

<section id="home-the-team">
  
  <div class="container">
    <div class="row">
      <h1>The Team</h1>
      <div class="col-md-3 team">
        <%= image_tag 'about-Deniz-Hekmati.jpg', class: 'img-responsive' %>
        <h3><%= link_to 'Deniz Hekmati', '/the-team#deniz' %></h3>
      </div>
      <div class="col-md-3 team">
        <%= image_tag 'abot-Alex-Coci.jpg', class: 'img-responsive' %>
        <h3><%= link_to 'Alex Coci', '/the-team#alex' %></h3>

      </div>
      <div class="col-md-3 team">
        <%= image_tag 'about-Jesper-Akesson.jpg', class: 'img-responsive' %>
        <h3><%= link_to 'Jesper Akesson', '/the-team#jesper' %></h3>

      </div>
      <div class="col-md-3 team">
        <%= image_tag 'bjorn-gunnarsson.jpg', class: 'img-responsive' %>
        <h3><%= link_to 'Bjorn Gunnarsson', '/the-team#bjorn' %></h3>

      </div>
    </div>
  </div>



</section>

<section id="home-blog">
  <h1>Blog</h1>
</section>

<section id="home-videos">
  <h1>Videos</h1>
</section>

<section id="home-contact">
  <h1>Contact</h1>
</section>