
<%#= render '/refinery/content_page' %>

<a id="email-sub" href="#home-contact" class="hidden-xs scroll-btn" data-toggle="tooltip" data-placement="left" title="Understand core engagement and body-line for swimmers with these 3 exercises!"></a>
<% if flash[:alert] %>
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= flash[:alert] %>
</div>
<% end %>

<section id="home-main" class="text-center">
  <h1>SWIMMER STRENGTH</h1>
  <h3>Operated by world-renowned swimmers, for swimmers</h3>
  <%= link_to 'Learn more...', '#home-about', class: 'btn btn-primary btn-lg' %>
</section>

<section id="email-sub-xs" class="visible-xs">
  <div class="container">
    <div class="row">
      <div class="col-xs-5">
        <%= image_tag 'dive-in-at.jpg', class: 'img-responsive text-right' %>
      </div>
      <div class="col-xs-7">
        <h1>DIVE IN!</h1>
        <p><%= link_to 'Sign up for our newsletter!', '#home-contact', class: 'scroll-btn', :data => {:toggle => 'tooltip', :placement => "bottom", :title => 'Understand core engagement and body-line for swimmers with these 3 exercises!'} %></p>


      </div>
    </div>
  </div>
  

</section>


  


<section id="home-about">
  <div class="container">
    <div class="row">
<!--       <div class="col-md-3">
        <h1>Swimmer's Strength Approach</h1>
      </div> -->
      <div class="col-md-10 col-md-offset-1">
        <p class="lead">Whether you’re a youth or seasoned swimmer, we start with an online consultation to understand your goals, strengths and weaknesses. We recognize that no two swimmers are alike and tailor specific training goals and techniques just for you. </p>

        <p class="lead">Next, an individualized regimen and schedule is created to fit you and only you. This smart plan is engineered to fit your athletic needs and goals in a way that sparks transformation and accelerates improvement giving you a competitive edge. With collegiate swimming backgrounds, our team and collaborators are deeply dedicated to helping you reach your full potential in and out of the pool.</p>


        <div id="about-quotes-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#about-quotes-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#about-quotes-carousel" data-slide-to="1"></li>
          <li data-target="#about-quotes-carousel" data-slide-to="2"></li>
          <li data-target="#about-quotes-carousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <h2>Deniz Hekmati, Founder</h2>
            <blockquote>“In my eyes, smart training is imperative and intertwined with hard work. I have spent over 70% of my life contributing to the sport of swimming and I will continue as long as there is a need. I apply my own fighting story to a relevant graduate level education in order to find the most efficient formula for elevated performance on a consistent basis. As a former collegiate athlete who understands the aquatic sports, I have an obligation to pass on my knowledge and experience to help as many individuals out there as I possibly can.”</blockquote>

            
          </div>
          <div class="item">
            <h2>Jesper Akesson, Co-Owner</h2>
            <blockquote>“If you’re unsure what to do to with your weight and dryland training program, you've come to the right place. Swimmer Strength will sit down with you, listen to your objectives and goals. Next, we’ll create a smart action plan so that you will be able to reach your goals and gain a competitive edge.”</blockquote>
            
          </div>
           <div class="item">
            <h2>Alex Coci, Co-Owner</h2>
            <blockquote>“The only less positive point is failure in competition. If that happens, you get up, and you shake yourself off and keep fighting to get to the top. Swimmer Strength focuses on fun and creative methods to develop swimmer-appropriate strength with full completion of flexibility and mobility, which certainly was my aim from very young age.”</blockquote>
            
          </div>
          <div class="item">
            <h2>Björn Gunnarsson, Co-Owner</h2>
            <blockquote>“During my swimming career, I experienced a lack of individualized dryland programs that were adapted to swimming. Flexibility issues limited my strength in the water, so now I want to provide passionate swimmers with reliable knowledge to help them swim fast.”</blockquote>
            
          </div>
          
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#about-quotes-carousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#about-quotes-carousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>





      </div>
    </div>

  </div>
  
</section>




<section id="home-what-we-do">
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>What We Do</h1>
      </div>
    </div>
    <div class="row">
          <div class="col-md-3 do-boxes"><!-- do-boxes  -->
            <h3>Research-Focused</h3>
            <p>Our blog is a collection of our research on strength training. <br /><span class="fa fa-arrow-right"></span> <%= link_to 'READ MORE', '#home-blog', class: 'scroll-btn'  %></p>
          </div>
          <div class="col-md-3 do-boxes">
            <h3>Exercise &amp; Entertainment Library</h3>
            <p>Form is important. You'll see examples and demonstrations of numerous exercises. <br /><span class="fa fa-arrow-right"></span> <%= link_to 'VIEW VIDEOS', '#home-videos', class: 'scroll-btn' %></p>
          </div>
          <div class="col-md-3 do-boxes">
            <h3>The Swimmer's Edge Program</h3>
            <p>Flexible 6 to 12 week packages to fit your training goals.<br /><span class="fa fa-arrow-right"></span> <%= link_to 'LEARN MORE' , '#swimmers-edge-programs', class: 'scroll-btn'  %></p>
          </div>
          
          <div class="col-md-3 do-boxes"><h3>Online Conference</h3>
          <p>COMING SOON! Sign up for our newsletter for updates.<br /><span class="fa fa-arrow-right"></span> <%= link_to 'SIGN UP' , '#home-contact', class: 'scroll-btn'  %></p>
        </div>
  </div>
</section>



<!-- <section id="home-our-athletes">
  <h1 class="text-center">Our Athletes</h1>
  <div class="container">
    <div class="row">
      <%# @home_athletes.each do |ha| %>
        <div class="col-md-4 text-center">
          <%#= image_tag 'http://placehold.it/450x450', class: 'img-responsive' %>
          <h2><%#= link_to ha.name,  '/athletes' %></h2>
        </div>
      <%# end %>
    </div>
  </div>
</section> -->

<section id="swimmers-edge-programs">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center">Swimmer's Edge Packages</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <h2>6-WEEK</h2>
        <small>Premium Package</small>
        <blockquote class="text-left sep">
          “I know about strength training and I have a respectful understanding of proper technique and how to improve and work on specific areas of the body for various adaptations. However, I would like to know how to perfect what I know in a more integrated fashion through consulting to find an optimal routine to balance swimming, land-based training, diet, recovery, and mental strength in order to elevate performance for either myself, my team, or my children.”
        </blockquote>
        <%= link_to '6-WEEK Sign up', "#", class: 'btn btn-lg btn-primary' %>
      </div>
      <div class="col-md-4 text-center">
        <h2>8-WEEK</h2>
        <small>Premium Package</small>
        <blockquote class="text-left">
          8-WK: “Regardless of my knowledge in strength or dry-land training, I want an intense program to improve, or at least understand more of how to work on certain issues such as, injuries, core/body line, mobility/flexibility, or power for starts and turns. In addition, I may or may not want to incorporate performance in a more integrated fashion through consulting in order to find an optimal routine to balance swimming, land-based training, diet, recovery, and mental strength to elevate performance for either myself, my team, or my children.”

        </blockquote>
        <%= link_to '8-WEEK Sign up', "#", class: 'btn btn-lg btn-primary' %>
      </div>
      <div class="col-md-4 text-center">
        <h2>12-WEEK</h2>
        <small>Premium Package</small>
        <blockquote class="text-left">
          “Hi, I’m ‘trying-out-new-things’ guy/girl, but need some nursing. Performance seems to have gotten stuck and something new and exciting needs to happen again (or for the first time). I need to learn a lot more about how the body works and why I, my athlete(s), or my child(ren) feel the way I do during certain points of the season. Heck, I don’t even know what the vital characteristic differences between a professional athlete and collegiate swimmer – how am I supposed to know what I need then. I might just need to get in touch with someone that has a good way of analyzing performance that can guide me in the right direction for success.”
        </blockquote>
        <%= link_to '12-WEEK Sign up', "#", class: 'btn btn-lg btn-primary' %>
      </div>
    </div>
  </div>




</section>

<section id="home-the-team">
  
  <div class="container">
    <div class="row">
      <h1>The Team</h1>
      <div class="col-md-3 team">
        <%#= image_tag 'about-Deniz-Hekmati.jpg', class: 'img-responsive' %>
        <h3><%= link_to 'Deniz Hekmati', '/the-team#deniz' %></h3>
      </div>
      <div class="col-md-3 team">
        <%#= image_tag 'abot-Alex-Coci.jpg', class: 'img-responsive' %>
        <h3><%= link_to 'Alex Coci', '/the-team#alex' %></h3>

      </div>
      <div class="col-md-3 team">
        <%#= image_tag 'about-Jesper-Akesson.jpg', class: 'img-responsive' %>
        <h3><%= link_to 'Jesper Akesson', '/the-team#jesper' %></h3>

      </div>
      <div class="col-md-3 team">
        <%#= image_tag 'bjorn-gunnarsson.jpg', class: 'img-responsive' %>
        <h3><%= link_to 'Bjorn Gunnarsson', '/the-team#bjorn' %></h3>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= link_to 'MEET THE TEAM', '/the-team', class: 'btn btn-lg btn-primary' %>
      </div>
    </div>
  </div>



</section>

<section id="home-blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">


  <div id="carousel-blog" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% @home_blog.each_with_index do |b, index| %>
      <li data-target="#carousel-blog" data-slide-to="<%= index %>" class="<% if index == 0 %>active<% end %>"></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  
  <div class="carousel-inner" role="listbox">
    <% @home_blog.each_with_index do |b, index| %>
      <div class="item <% if index == 0 %>active<% end %> text-center">
        <h1 class="text-left"><%= b.title %></h1>
        <%= b.custom_teaser.html_safe %>
        <%= link_to 'Read more', blog_post_path(b), class: 'btn btn-primary btn-lg' %>
      </div>
    <% end %>
  </div>
  

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-blog" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-blog" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


</div>

    </div>
  </div>
</section>

<section id="home-videos">
  <div class="container">
    <div class="row">
      <%# @home_video_hero.each do |v| %>
      <div class="col-md-3">
        <h1>Videos</h1>
          <h2><%= @home_video_hero.title %></h2>
          <p><%= @home_video_hero.description.html_safe %></p>
      </div>
        <div class="col-md-9">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="<%= @home_video_hero.embed_url %>"></iframe>
          </div>
        </div>
      <%# end %>
    </div>
    <div class="row home-video-sub">
      <% @home_videos.each do |hv| %>
      <div class="col-sm-4">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="<%= hv.embed_url %>"></iframe>
        </div>
      </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <%= link_to 'SEE MORE VIDEOS', '/videos', class: 'btn btn-lg btn-primary' %>
      </div>
      
    </div>





  </div>
</section>

<section id="home-contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 contact-box" style="background-color:rgba(255,255,255,.5);">
        <%= render '/emailapi/subscribe' %>


      </div>
      <div class='inquiries'>
        <%#= render '/refinery/inquiries/inquiries/form', inquiry: @inquiry %>
        <%= raw @page.content_for(Refinery::Pages.default_parts.first.to_sym) if Refinery::Pages.default_parts.any? %>
  
  <div class='inquiries'>
    <%= form_for [refinery, :inquiries, @inquiry] do |f| %>
      <%= render :partial => "/refinery/admin/error_messages",
                 :locals => {
                   :object => @inquiry,
                   :include_object_name => true
                 } %>
      <div class="field">
        <%= f.required_label :name, :class => 'placeholder-fallback' %>
        <%= f.text_field :name, :class => 'text', :required => 'required',
          :placeholder => t('name', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders %>
      </div>
      <div class="field">
        <%= f.required_label :email, :class => 'placeholder-fallback' %>
        <%= f.email_field :email, :class => 'text email', :required => 'required',
          :placeholder => t('email', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders %>
      </div>

      <% if Refinery::Inquiries.show_phone_number_field %>
        <div class="field">
          <%= f.label :phone, :class => 'placeholder-fallback' %>
          <%= f.text_field :phone, :class => 'text phone',
            :placeholder => t('phone', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders %>
        </div>
      <% end %>

      <div class='field message_field'>
        <%= f.required_label :message, :class => 'placeholder-fallback' %>
        <%= f.text_area :message, :rows => 8, :required => 'required',
          :placeholder => t('message', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders %>
      </div>
      <div class="actions">
        <%= f.submit t('.send') %>
        <%= link_to t('.privacy_policy'), "/pages/privacy-policy", :id => "privacy_link" if Refinery::Inquiries.show_contact_privacy_link %>
      </div>
    <% end %>
  </div>
      </div>
    </div>
  </div>


</section>

