
<%#= render '/refinery/content_page' %>

<a id="email-sub" href="#home-contact" class="hidden-xs scroll-btn" data-toggle="tooltip" data-placement="left" title="Subscribe to our monthly newsletter for free!"></a>
<% if flash[:alert] %>
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= flash[:alert] %>
</div>
<% end %>

<%= render 'home_main' %>

<section id="email-sub-xs" class="visible-xs">
  <div class="container">
    <div class="row">
      <div class="col-xs-5">
        <%= image_tag 'dive-in-at.jpg', class: 'img-responsive text-right' %>
      </div>
      <div class="col-xs-7">
        <h1>DIVE IN!</h1>
        <p><%= link_to 'Sign up for our newsletter!', '#home-contact', class: 'scroll-btn', :data => {:toggle => 'tooltip', :placement => "bottom", :title => 'Understand core engagement and body-line for swimmers with these 3 exercises!'} %></p>
      </div>
    </div>
  </div>
</section>

<%= render 'home_about' %>

<%= render 'home_what_we_do' %>

<%= render 'home_quotes' %>

<%= render 'home_videos' %>

<%= render 'home_sep' %>

<%= render 'home_the_team' %>

<%= render 'home_contributors' %>

<section id="home-contact" data-speed="5" data-type="background">
  <div class="container">
<div class="row">
      <div class="col-md-6 col-md-offset-3 contact-box" style="background-color:rgba(255,255,255,.5);">
        <%= render '/emailapi/subscribe' %>
      </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 button-section">
      <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#contact-collapse" aria-expanded="false" aria-controls="contact-collapse">

        Dive in!
      </button>
    </div>
  </div>
</section>

<div class="collapse" id="contact-collapse">
<section id="home-contact-2">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class='inquiries'>
        <h2>Dive In!</h2>

  
  <div class='inquiries'>
    <%= form_for [refinery, :inquiries, @inquiry] do |f| %>
      <%= render :partial => "/refinery/admin/error_messages",
                 :locals => {
                   :object => @inquiry,
                   :include_object_name => true
                 } %>
      <div class="field form-group">
        <%= f.required_label :name, :class => 'placeholder-fallback' %>
        <%= f.text_field :name, :class => 'text form-control', :required => 'required',
          :placeholder => t('name', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders %>
      </div>
      <div class="field form-group">
        <%= f.required_label :email, :class => 'placeholder-fallback' %>
        <%= f.email_field :email, :class => 'text email form-control', :required => 'required',
          :placeholder => t('email', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders %>
      </div>

      <% if Refinery::Inquiries.show_phone_number_field %>
        <div class="field form-group">
          <%= f.label :phone, :class => 'placeholder-fallback' %>
          <%= f.text_field :phone, :class => 'text phone form-control',
            :placeholder => t('phone', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders %>
        </div>
      <% end %>

      <% @contact_types = ["Coach", "Parent", "Athlete", "Recreational"] %>

      <div class='field job_type_field radio_field'>
        <%= f.label 'You are contacting us as: ' %>
        <% @contact_types.each do |value, name| %>
          <%= f.radio_button :contact_type, (name || value), :value => value %>
          <%= f.label :"contact_type_#{(name || value)}", value.humanize %>
        <% end %>
      </div>

      <div class='field message_field form-group'>
        <%= f.required_label :message, :class => 'placeholder-fallback' %><br />
        <%= f.text_area :message, :rows => 8, :required => 'required', :class => 'form-control',
          :placeholder => t('message', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders %>
      </div>
      <div class="actions">
        <%#= f.submit t('.send') %>
        <%= f.submit "Submit", class: 'btn btn-primary btn-lg' %>
        <%= link_to ' Privacy Policy', "/pages/privacy-policy", :id => "privacy_link" if Refinery::Inquiries.show_contact_privacy_link %>
      </div>
    <% end %>
  </div>
      </div>
    </div>

      </div>
    </div>
  </div>

</section>
</div>

<section id="sep_signup">
<div class="container">
<div class="row">
<div class-"col-md-8 col-md-offset-2">


</div>
</div>
</div>
</section>

